:root {
  --purple: #d113cf;
  --red: #ff0e3a;
  --blue: #4c7ff5;
  --green: #2db448;
  --yellow: #ffb017;
}

body {
    background-color: #282C35FF;
    font-family: Verdana, sans-serif;
    font-weight: 400;
    font-size: medium;
    color: white;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-content: center;
}

button {
    font-size: 15pt;
    font-weight: 600;
    padding: 15px 40px;
    margin: auto auto 75px;

    background: none;
    color: var(--purple);
    border: 3px solid var(--purple);
    border-radius: 10px;

    transition: color 0.2s, background-color 0.2s, transform 0.1s;
}

button:hover {
    background-color: var(--purple);
    color: #151515FF;
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
}

h1 {
    text-align: center;
    font-weight: 900;
    font-size: 40pt;
    margin-bottom: 0px;
    margin-top: 50px;
}

h1 span, h3 span {
    color: var(--purple);
    font-weight: 900;
}

h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 12pt;
    font-weight: 100;
}

h3 {
    text-align: center;
    font-size: 25pt;
    margin-bottom: 50px;
}

.ans {
    display: grid;
    grid-template-columns: max-content minmax(10px, var(--prop)) auto;
    gap: 15px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 40px;
    --prop: 0.01fr;
    transition: 0.5s ease;
}

.ans p {
    font-weight: 700;
    font-size: 30px;
    margin: 0;
    white-space: nowrap;
}

.ans div {
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

article {
    width: 75%;
    margin: auto;
}

#ans_a div {
    background-color: var(--red);
}

#ans_a p {
    color: var(--red);
}

#ans_b div {
    background-color: var(--blue);
}

#ans_b p {
    color: var(--blue);
}

#ans_c div {
    background-color: var(--green);
}

#ans_c p {
    color: var(--green);
}

#ans_d div {
    background-color: var(--yellow);
}

#ans_d p {
    color: var(--yellow);
}
